body {
	margin: 0;
    font-family: Arial, sans-serif;
	background: url('./img/bg.jpg');
	background-size: cover;
}
/* store our gradient values */
:root {
	--grad-gold: linear-gradient(#ea0, #c90);
	--grad-orange: linear-gradient(#e60, #c40);
}
#bodycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    font-family: Arial, sans-serif;
	flex-direction: column;
	background: rgba(255,255,255,0.8);
}
.instr, #logo {
	height: 100%;
	font-size: 16pt;
	padding: 25px;
}
#logo {
	background: url('./img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 25px;
	min-width: 250px;
}
/* for instruments on the selection panel */
.instr {
	background: var(--grad-orange);
	background-color: #c40;
	transition: width 1s, opacity 1s, padding 1s;
}
.hidden {
	width: 0;
	opacity: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	min-height: 5vh;
	background: #000;
	box-shadow: 0px 2px 8px black;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	background-size: cover;
}
/* this refers to the selection menu container */
.select {
	display: flex;
	align-items: center;
	justify-content: center;
}
.instr.selected {
	background: var(--grad-gold);
	background-color: #c90;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select:hover {
	cursor: pointer;
}
/*.selected:after {
	content:"";
	display: inline-block;
	background: url('../img/right-arrow.png');
}*/
.keyboard {
    display: flex;
	justify-content: center;
    align-items: center;
}
/* while these are no longer black and white keys, white is (2n+1)th key and black is (2n)th key starting at 1*/
.whitekey {
	background: var(--grad-gold);
    background-color: #c90;
}
.blackkey {
    background-color: #c40;
	background: var(--grad-orange);
}
.whitekey:active {
    background: #ea0;
}
.blackkey:active {
    background: #c40;
}
.zwsp {
	/* this class allows for the amazing solution to emojis and texts being different line heights:
	have a nothing character that's bigger than either of them! */
	font-size: 20pt;
}
/* provides a right/left arrow image for the "selected" element; i think this looks rather nicer than the previous ">" character */
.right-arrow {
	width: 5px;
	height: 15px;
	margin-left: 5px;
	background: url('./img/right-arrow.png');
	display: inline;
	background-size: 5px 15px;
}
.left-arrow {
	width: 5px;
	height: 15px;
	margin-left: 5px;
	background: url('./img/left-arrow.png');
	display: inline;
	background-size: 5px 15px;
}
.blackkey, .whitekey {
	width: 60px;
    height: 200px;
    margin: 4px;
	border: 1px solid #9af;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
	box-shadow: 0px 0px 1px 0px #9af;
}
.blackkey:hover, .whitekey:hover {
	animation: electric 0.5s infinite linear alternate;
}
h1.welcome {
	color: #c40;
}
h2.welcome {
	color: #c80;
}
@Keyframes electric {
	from{
		box-shadow: 0px 0px 1px 0px #9af;
	} to{
		box-shadow: 0px 0px 4px 2px #9af;
		
	}
}
