body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.piano {
    display: flex;
}
.whitekey {
    width: 60px;
    height: 200px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.blackkey {
    width: 60px;
    height: 200px;
    margin: 2px;
    background-color: black;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.whitekey:active {
    background-color: #ccc;
}
.blackkey:active {
    background-color: #f000;
}
