body {
	margin: 0;
    font-family: Arial, sans-serif;
}
#bodycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.instr, #logo {
	height: 100%;
	font-size: 16pt;
	padding: 25px;
}
.hidden {
	display: none;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	min-height: 5vh;
	background: #000;
}
.select {
	display: flex;
	align-items: center;
	justify-content: center;
}
.selected {
	background: #c90;
}
.selected:hover {
	cursor: pointer;
}
.keyboard {
    display: flex;
}
.whitekey {
    width: 60px;
    height: 200px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.blackkey {
    width: 60px;
    height: 200px;
    margin: 2px;
    background-color: black;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.whitekey:active {
    background-color: #ccc;
}
.blackkey:active {
    background-color: #f000;
}
